*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
// color: white;
}

$font: 'Playfair Display', serif;
$bg:rgb(38, 38, 36);
$bg2: #fb3640;
$color1:white;
$color: #28b8dc;
